.home-main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}
.head-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.train-schedule-name{
    background-color: cyan;
    height: 8vh;
}
.train-div{
    margin-top: 2%;
    height: 50vh;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 10px;
    border: 3px solid black;
    
}

.train-main-div{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 2%; */
    
}

.button{
    height: 40px;
    width:30%;
    background-color: #04D4F0;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1em;
}